<!DOCTYPE html>
<html lang="en-us" ng-app="memorizerApp">
    <head>
        <% include templates/commonHead.ejs %>
    </head>
    <body>

        <% include templates/header.ejs %>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1><%= Header %></h1>

                    <img id="crawl-image" src="/img/swcrawl.png">

                    <p>
                        Welcome to the Star Wars Index! Here, we compile and index Star Wars data curated by our friends at <a href="http://swapi.co/">SWAPI!</a> We hope that fans can find the Star Wars info about films, planets, characters and more in their efforts to learn more about the Star Wars franchise, or to simply look up fun facts about the series. Enjoy!
                    </p>

                </div>
               
            </div>

		</div>

    </body>
</html>