<title>Star Wars Index</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="UTF-8">

<!-- load bootstrap and fontawesome via CDN -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<style>
    html,
    body,
    input,
    select,
    textarea {
        font-size: 1.05em !important;
    }
</style>

<!--CSS-->

<link rel="stylesheet" href="styles/style.css"/>

<!-- load angular via CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- UnderscoreJs CDN -->

<script src="https://fastcdn.org/Underscore.js/1.8.3/underscore-min.js"></script>