<header>
	<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Star Wars Index</a>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="/films"><i class="fa fa-home"></i>Films</a></li>
			<li><a href="/planets"><i class="fa fa-home"></i>Planets</a></li>
			<li><a href="/characters"><i class="fa fa-home"></i>Characters</a></li>
		</ul>
	</div>
	</nav>
</header>
